@model Bookly.Models.Customer
@{
    ViewBag.Title = "Details";
}

<h2>Customer Name:@Model.FirstName @Model.LastName</h2>

<h3>Date of Birth:@Model.DOB.ToLongDateString()</h3>
<h4>Membership Type: @Model.MembershipType.Name</h4>

